
<!--  to view the error message -->
   <% if (errorMessage) { %>
    <p class="error-message">
      <%= errorMessage %>
    </p>
  <% } %>

<form action="/signup" method="POST" class="form-auth">
	<label>Username
		<input type="text" name="username" placeholder="Your name">
	</label>
	<br><br>
	<label>Password
		<input type="password" name="password" placeholder="Your password"></label>
	<br><br>
	<label>Email
		<input type="email" name="email" placeholder="Your email@email"></label>
	<br><br>
	<label>Status
		<select name="status">
			<option selected value="entrepreneur">Entrepreneur</option>
			<option value="incubatorMember">Incubator's member</option>
		</select></label>
	<br><br>


	<button>Create account</button>
</form>