<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/dist/css/map-icons.min.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
		<link rel="stylesheet" href="stylesheets/style.min.css">
</head>

	<body>
		<header>
		<nav class="navbar " role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">
					<h1> <a href="/"> NEL&#398;NE</a> </h1>
				</a>
				<button class="button navbar-burger burger" data-target="navMenuDropping">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>

			<div id="navMenuDropping" class="navbar-menu">
				<div class="navbar-end">
					<% if (!user) { %>
					<div class="navbar-item">
						<a href="/login" class="navbar-item" >Login</a>
					</div>

					<div class="navbar-item">
						<a href="/signup" class="navbar-item">Signup</a>
					</div>
					<% } %>
					<% if (user) { %>
						<div class="navbar-item has-dropdown is-hoverable" style="margin-left:20px">
							<a class="navbar-link  is-active" href="">
        <span class="icon is-small"><i class="fa fa-home"></i></span>My Profile
        </a>

						<div class="navbar-dropdown is-boxed is-right">
							<a href="/organizations/new" class="navbar-item">Add new organization</a>

							<a href="/users/profile" class="navbar-item">All my spots</a>
							<a href="/logout" class="navbar-item">Logout</a>
							</div>
					<% } %>
					<div class="navbar-item">
						<a href="/organizations" class="navbar-item">Details of all organizations </a>
					</div>
				</div>
			</div>
		</div>
		</nav>
		</header>



		<%- body -%>


		<footer class="footer" id="mainFooter">
			<div class="content has-text-centered">
			<p> &copy; Elodie Wanang &amp; Liudmyla Iefremova </p>
			</div>
		</footer>

		<script type="text/javascript" src="/dist/js/map-icons.js" ></script>
		<script type="text/javascript" src="/javascripts/navbar.js" ></script>
	</body>
</html>
