<h2>Add your organization to the map</h2>
<p>Your organization will appear on the map after approval from administrator</p>

<!--  to view the error message -->
   <% if (errorMessage) { %>
    <p class="error-message">
      <%= errorMessage %>
    </p>
  <% } %>

<form action="/organizations/new" method="POST" class="form-auth">

	<div class="field">
		<label class="label">Name</label>
		<div class="control">
			<input type="text" name="name" placeholder="Your organization name" class="input">
		</div>
		
	</div>
	
	<div class="field">
		<label class="label">Description</label>
		<div class="control">
			<input type="text-area" name="description" placeholder="Organization's description" class='textarea'>
		</div>
	</div>

	<div class="field">
		<lable class="label">Email</label>
			<div class="control">
				<input type="email" name="email" placeholder="email@email" class="input">
			</div>
		
	</div>

	<div class="field">
		<lable class="label">Phone</label>
			<div class="control">
				<input type="tel" name="phone" placeholder="Phone number" class="input">
			</div>
	</div>

	<div class="field">
		<lable class="label">Zip</label>
			<div class="control">
				<input type="text" name="zip" placeholder="Zip code" class="input">
			</div>
	</div>
	<div class="field">
		<lable class="label">Country</label>
			<div class="control">
				<input type="text" name="country" placeholder="Country" class="input">
			</div>
	</div>
	<div class="field">
		<lable class="label">City</label>
			<div class="control">
				<input type="text" name="city" placeholder="City" class="input">
			</div>
	</div>
	<div class="field">
		<lable class="label">Street</label>
			<div class="control">
				<input type="text" name="street" placeholder="Street" class="input">
			</div>
	</div>

	<div class="field">
		<label class="label">Category</label>
		<div class="control">
			<div class="select">
				<select name="category">
					<option selected value="startup">Startup</option>
					<option value="incubator">Incubator</option>
				</select>
			</div>
		</div>
	</div>


	<div class="control">
		<input type="text" name="latitude" placeholder="Latitude" class="input">
	  <input type="text" name="longitude" placeholder="Longitude" class="input">
  </div>
	
	<div class="field">
	<div class="control">
		<button class="button is-primary">Send information</button>
	</div>
	</div>

</form>