

<div class="container">
	<header class="maintitle">
		<h2>Take a look at Africa tech ecosystem !</h2>
	</header>

	<nav class="searchbar">
		<div class="control">
			<div class="select is-medium">
				<select id="filter1" class="typecss" name="searchtype">
					<option value="incubator">incubator</option>
					<option value="start-up">startup</option>
				</select>
			</div>
		</div>
		<div class="control">
			<input type="text" class="filter input is-medium" id="searchname" placeholder="Enter texthe name of the organization you're looking for">
		</div>
		<div class="control">
			<input type="text" class="filter input is-medium" id="searchcountry" placeholder="Ghana, Senegal...">
		</div>
		<div class="control">
			<input type="text" class="filter input is-medium" id="searchregion" placeholder="West, East..">
		</div>
	</nav>

	<div id="map"></div>
		<a href="/login">
			<footer class="contribute">
				Want to contribute? Use your account to add new spot on the map!
			</footer>
		</a>
	</div>


<script type="text/javascript">
	var allOrganizations = <%- JSON.stringify(organizations) %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAADIzhXOJbzOfhryet6qTIr9ZpMH26rq4"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../javascripts/main.js" ></script>
