
	<header class="maintitle">
		<h2>Take a look at Africa tech ecosystem !</h2>
	</header>

	<nav class="searchbar">

		<select class="typecss" name="searchtype">
			<option value="incubator">Incubator</option>
			<option value="start-up">Start-up</option>
		</select>
		<input type="text" class="filter" id="searchname" placeholder="Enter the name of the organization you're looking for">
		<input type="text" class="filter" id="searchcountry" placeholder="Ghana, Senegal...">

		<input type="text" class="filter" id="searchregion" placeholder="West, East..">

	</nav>



	<div id="map">

	</div>

	<footer class="contribute">
		<a href="/login">I want to contribute !</a>
	</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAADIzhXOJbzOfhryet6qTIr9ZpMH26rq4&callback=initMap"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../javascripts/main.js" ></script>
