<div class="container">
	<header class="maintitle">
		<h2>Take a look at Africa tech ecosystem !</h2>
	</header>

	<nav class="searchbar">

		<select id="filter1" class="typecss" name="searchtype">
			<option value="incubator">incubator</option>
			<option value="start-up">startup</option>
		</select>
		<input type="text" class="filter" id="searchname" placeholder="Enter the name of the organization you're looking for">
		<input type="text" class="filter" id="searchcountry" placeholder="Ghana, Senegal...">

		<input type="text" class="filter" id="searchregion" placeholder="West, East..">
	<!--<a id="Nigeriabutton" class="button is-success is-outlined">Nigeria</a>-->

	</nav>



	<div id="map"></div>
	<footer class="contribute">
		<a href="/login">I want to contribute !</a>
	</footer>
</div>


<script type="text/javascript">
	var allOrganizations = <%- JSON.stringify(organizations) %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAADIzhXOJbzOfhryet6qTIr9ZpMH26rq4&callback=initMap"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../javascripts/main.js" ></script>
